{% extends 'base.html' %}

{% block content %}

{% set first_song = songs[0] %}
<div class="container">
    <h1>{% block title %} so uh what do you think of Kendrick's new album? {% endblock %}</h1>
    <div class="columns is-mobile">
        <div class="column is-half">


            <!-- <div class="songs-container"> -->
            <table class="table is-hoverable is-narrow">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                    <tr>
                        <td class="song" id="{{song['id']}}">
                            <p>
                                {{ song['name'] }}
                                {% if song['average_rating'] == None %}
                                {% elif song['average_rating'] >= 7 %}
                                <span class="tag is-success is-normal">{{ song['average_rating'] }}</span>
                                {% elif song['average_rating'] > 3 %}
                                <span class="tag is-warning is-normal">{{ song['average_rating'] }}</span>
                                {% elif song['average_rating'] > 0 %}
                                <span class="tag is-danger">{{ song['average_rating'] }}</span>
                                {% endif %}
                            </p>
                            <p style="font-size: 10px;">
                                {{ song['album_name'] }} - {{ song['artist_name'] }}
                            </p>
                        </td>
                        <td><a href="/review/{{song['id']}}">Review</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">


            <div class="reactions-container">
                <div id="reactions">
                    {% for reaction in first_song["reactions"] %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                {% if reaction['rating'] >= 7 %}
                                <span class="tag is-medium is-success">{{ reaction['rating']}}</span>
                                {% elif reaction['rating'] > 3 %}
                                <span class="tag is-medium is-warning">{{ reaction['rating']}}</span>
                                {% elif reaction['rating'] > 0 %}
                                <span class="tag is-medium is-danger">{{ reaction['rating']}}</span>
                                {% else %}
                                <span class="tag is-medium">{{ reaction['rating']}}</span>
                                {% endif %}
                                 by {{ reaction['username']}}
                                <br>
                                <br>
                                <p>
                                    {{ reaction['content']}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>


<script>
    const songs = {{ songs| tojson }};
    let selectedSong = songs[0];

    // for initial page load
    document.querySelector(".song").classList.add("is-selected");

    document
        .querySelectorAll(".song")
        .forEach(node => {
            node.addEventListener("click", (e) => {

                document
                    .querySelectorAll(".is-selected")
                    .forEach(el => el.classList.remove("is-selected"));

                e.target.classList.add("is-selected");

                selectSong(e.target.id);
                updateReactions();
            });
        })

    function selectSong(id) {
        selectedSong = songs.filter(s => s.id == id)[0];
    }

    function updateReactions() {
        const reactionsList = document.getElementById("reactions");

        reactionsList.innerHTML = "";

        if (selectedSong.reactions.length === 0) {
            reactionsList.innerHTML = "<br><br><p>Be the first to review this track</p>";
        }

        for (const reaction of selectedSong.reactions) {
            let color = ""

            if(reaction.rating > 7) {
                color = "is-success";
            } else if (reaction.rating > 3) {
                color = "is-warning";
            } else if (reaction.rating > 0) {
                color = "is-danger";
            }

            reactionsList.innerHTML += `
            <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <span class="tag is-medium ${color}">${reaction.rating}</span> by ${reaction.username} 
                                <br>
                                <br>
                                <p>
                                    ${reaction.content}
                                </p>
                            </div>
                        </div>
                    </div>`;
            // const text = `${reaction.username} - ${reaction.rating}\n\r${reaction.content}`
            // var li = document.createElement("li");
            // li.appendChild(document.createTextNode(text));
            // reactionsList.appendChild(li);
        }
    }

</script>

{% endblock %}